---
layout: main
title: Main Page
description: Description here
---
<div class="container">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">2FA SVG Logos</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Currently <strong class="text-dark fw-bold">865</strong> SVG logos of services that support Two-Factor Authentication available for download.</p>
    </div>
  </div>
        <ul class="row row-cols-2 row-cols-sm-4 row-cols-lg-5 row-cols-xl-8 list-unstyled list">{% for service in site.data.services %}{% for site in service[1] %}
          <li class="col mb-4" data-tags="{{site.tags}}" data-categories="brand">
            <a class="d-block text-dark text-decoration-none rounded cell border" href="{{site.url}}">
            <div class="py-4 text-center">
              <img class="my-4" src="/assets/img/logo/{{site.url}}/{{site.url}}.svg" width="66" height="66" alt="{{site.name}} logo">
              <div class="name text-muted text-center">{{site.name}}</div>
            </div>
            </a>
            </li>
          {% endfor %}{% endfor %}
      </ul>
      </div>